<h1>MHM firster</h1>
<def>
    <%= link_to "初級", "scores/top", class: "btn btn-info" %>
    <%= link_to "中級", "counts/top", class: "btn btn-warning" %>
    <%= link_to "上級", "selects/top", class: "btn btn-danger" %>
</def>

<def>
    <%= link_to "MHMとは", new_top_path %>
    <%= link_to "新規登録", new_user_path %>
</def>

