<div id="first_question" style="display:none;">

    <%= render 'hukidasi' %>
    <%= render 'life_bar' %>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="slide"><%= image_tag 'ofise3.jpeg'%></div>
            <div class="slide"><%= image_tag 'ofise3.jpeg'%></div>
            <div class="slide"><%= image_tag 'ofise3.jpeg'%></div>
            <div class="slide"><%= image_tag 'ofise3.jpeg'%></div>
        </div>
    </div>
   


    <% @first_question.each do |first_question| %>
        <% unless first_question.id == 1 %>
            <div class="q_<%= first_question.id %>" style="display:none;">
        <% else %>
            <div class="q_<%= first_question.id %>">
        <% end %>
        <div style="margin: 2px;">Q<%= first_question.id %> <%= first_question.question %></div>
            <%= form_with model: @total, method: :post, remote: true do %>
                <% @first_answers.each do |first_answer| %>
                    <% if first_question.id == first_answer.first_question_id %>
                      <div style="margin-top: 3px;">
                        <button class="send_data_selection<%= first_answer.first_question_id %> btn-1 " style="padding:3px; margin:5px; height: 50px;" href=".q_<%= first_answer.first_question_id.to_i + 1 %>" type="submit" data-send-id = <%= first_answer.score %> ><%= first_answer.answer %></button>
                      </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    <% end %>

    <%= render 'question_result_score' %>

</div>
