<div class="container">
    <div class="row">
        <div class="col-md-12 text-left">
            <div id="overlay" class="overlay"></div>
            <div class="cherry-blossom-container"></div>
                <% if @user.position == "ヨワヨワメンタル新入社員" %>
                    <div class="modal-window question-start-text2">
                        <div class="row modal-text">
                            <div class="col-md-12">
                                <div class="modal-light-page">
                                    <p class="modal-light-page-text text-center">おめでとうございます!</p>
                                    <h3 class="modal-light-page-text text-center">中間管理職に昇進！</h3>
                                    <p class="modal-light-page-text text-center">新しいタスクが開放されました！<br>ぜひ挑戦してみてください！</p>
                                    <button class="js-close button-close text-center">タスクに戻る</button>
                                    <div class="modal-light-page-text2 text-center">
                                        <p>(経験値をリセットします)</p>
                                        <p>* この問題の解答が終わり次第、経験値バーに反映されます</p>
                                    </div>
                                    <div class="text-center">
                                    <%= link_to "https://twitter.com/share?&url=https://buka-mental.herokuapp.com/&text=辞令　中間管理職に昇進しました。今後もメンタルヘルスマネジメント力を上げて幹部を目指してください。&hashtags=メンタルヘルスマネジメント,ストレスケア&lang=ja", title: 'Twitter', target: :_blank, rel: 'noopener noreferrer', class: "twitter btn btn--bulue btn--cubic btn--shadow" do %>
                                        <p><i class="fab fa-twitter "></i><br>(辞令を発行して公開)</p>
                                    <% end %>
                                    </div>
                                    <div class= "modal-boy-position">
                                        <%= image_tag "top_boy.png",:size =>'210x340'%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% elsif @user.position == "そこそこメンタル中間管理職" %>
                    <div class="modal-window question-start-text2">
                        <div class="row modal-text2">
                            <div class="col-md-12 mx-auto">
                                <div class="modal-light-page">
                                    <p class="modal-light-page-text text-center">おめでとうございます!</p>
                                    <h3 class="modal-light-page-text text-center">管理職に昇進！</h3>
                                    <p class="modal-light-page-text text-center">新しいタスクが開放されました！<br>ぜひ挑戦してみてください！</p>
                                    <button class="js-close button-close text-center">タスクに戻る</button>
                                    <div class="modal-light-page-text2 text-center">
                                        <p>(経験値をリセットします)</p>
                                        <p>* この問題の解答が終わり次第、経験値バーに反映されます</p>
                                    </div>
                                    <div class="text-center">
                                    <%= link_to "https://twitter.com/share?&url=https://buka-mental.herokuapp.com/&text=辞令　幹部職に昇進しました。社長候補として今後も精進していきましょう。&hashtags=メンタルヘルスマネジメント,ストレスケア&lang=ja", title: 'Twitter', target: :_blank, rel: 'noopener noreferrer', class: "twitter btn btn--bulue btn--cubic btn--shadow" do %>
                                        <p><i class="fab fa-twitter "></i><br>(辞令を発行して公開)</p>
                                    <% end %>
                                    </div>
                                    <div class= "modal-boy-position">
                                        <%= image_tag "happy_boy.png",:size =>'180x340'%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% else %>
                    <div class="modal-window question-start-text2">
                        <div class="row modal-text3">
                            <div class="col-md-12 mx-auto">
                                <div class="modal-light-page4 text-center">
                                    <p>おめでとうございます!</p>
                                    <h3>全てのプログラムを完了しました！</h3>
                                    <p>これを期にメンタルヘルスマネジメントを<br>学んでみてください！</p>
                                    <div class="modal-boy-position3 text-center">
                                        <%= image_tag "speak_boy.png",:size =>'380x320' %>
                                    </div>
                                    <div class="text-center">
                                    <%= link_to "https://twitter.com/share?&url=https://buka-mental.herokuapp.com/&text=辞令　社長に昇進しました。全てのプログラムを完了しました！お疲れ様でした！&hashtags=メンタルヘルスマネジメント,ストレスケア&lang=ja", title: 'Twitter', target: :_blank, rel: 'noopener noreferrer', class: "twitter btn btn--bulue btn--cubic btn--shadow text-center" do %>
                                        <p><i class="fab fa-twitter "></i><br>(辞令を発行して公開)</p>
                                    <% end %>
                                    <%= link_to "トップへ", root_path, class: "btn btn--orange2 btn--cubic btn--shadow" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
