<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body">
            <div><p><%= @recovery_result.item_name %></p></div>
            <%= image_tag @recovery_result.image_item.variant(resize: "300x500") %>
            <div><p><%= @recovery_result.item_comentary %></p></div>
            <div><p>メンタル値<%= @recovery_result.item_score %>回復</p></div>
            <button type="button" class="recovery_up btn btn-info" data-send-id = <%= @recovery_result.item_score %>>
                TOP
            </button>
        </div>
    </div>
</div>
