<div id="second_question" style="display:none;">


<%= render 'hukidasi' %>
<%= render 'life_bar' %>
<%= render 'boy' %>

<div class="swiper-container2">
  <div class="swiper-wrapper">
    <div class="slide"><%= image_tag 'ofise7.jpg'%></div>
    <div class="slide"><%= image_tag 'ofise7.jpg'%></div>
  </div>
</div>



<% @second_question.each do |second_question| %>
  <% unless second_question.id == 1 %>
      <div class="<%= second_question.id %> " style="display:none;">
  <% else %>
      <div class="<%= second_question.id %> ">
  <% end %>
  <div class="question-field">
  <p style="margin: 10px;" class="text-style">Q<%= second_question.id %> <%= second_question.question %></p>
      <%= form_with model: @total, method: :post, remote: true do %>
          <% second_question.second_answers.each do |second_answer| %>
              <% if second_question.id == second_answer.second_question_id %>
                <div style="margin-top: 2px;">
                  <button class="send_data_selection btn-2 " style="padding:3px; margin:5px; height: 50px;" href="<%= second_answer.second_question_id.to_i%>" type="submit" data-send-id = <%= second_answer.score %> onclick="disabled = true;" ><%= second_answer.answer %></button>
                </div>
              <% end %>
          <% end %>
      <% end %>
  </div>
  </div>
<% end %>

<%= render 'question_result_score' %>

</div>



