<div id="third_question" style="display:none;">

    <%= render 'hukidasi' %>
    <%= render 'life_bar' %>
    <%= render 'boy' %>

    <div class="swiper-container3">
        <div class="swiper-wrapper">
            <div class="slide"><%= image_tag 'ofise2.jpg'%></div>
            <div class="slide"><%= image_tag 'ofise2.jpg'%></div>
        </div>
    </div>
   


    <% @third_question.each do |third_question| %>
        <% unless third_question.id == 1 %>
            <div class="<%= third_question.id %>" style="display:none;">
        <% else %>
            <div class="<%= third_question.id %>">
        <% end %>
        <div class="question-field">
        <div style="margin: 10px;" class="text-style">Q<%= third_question.id %> <%= third_question.question %></div>
            <%= form_with model: @total, method: :post, remote: true do %>
                <% third_question.third_answers.each do |third_answer| %>
                    <% if third_question.id == third_answer.third_question_id %>
                      <div style="margin-top: 3px;">
                        <button class="send_data_selection btn-3 " style="padding:3px; margin:5px; height: 50px;" href="<%= third_answer.third_question_id.to_i%>" type="submit" data-send-id = <%= third_answer.score %> ><%= third_answer.answer %></button>
                      </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        </div>
    <% end %>

    <%= render 'question_result_score' %>

</div>
