<div class="row">
    <div class="letter">
        <div class="row">
            <div class="col-md-5">
                <div class="status-page">

                    <div>
                        <p>Worker Name</p>
                        <h4><%= @user.name %></h4>
                    </div>

                    <p>Position</p>
                    <div id="position">
                        <%= render 'position', user: @user %>
                    </div>

                    <div>
                        <p>Status</p>
                        <%= render 'graph', user_physical_gage: @user_physical_gage, user_experience_gage: @user_experience_gage %>
                    </div>


                    <div class="task-btn">
                        <p>Task</p>
                        <div class="text-center task-menu">
                            <div>
                                <button type="button" class="btn btn-outline-secondary w-75 long-task">
                                    出張タスク
                                </button>
                            </div>

                            <div>
                                <button type="button" class="neko btn btn-outline-secondary w-75">
                                    回復アイテム
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div class="light-page">
                    <%= render 'long_question', user: @user%>
                    <%= render 'firsts_question'%>
                    <%= render 'second_question'%>
                </div>
            </div>

            <%= render "modal" %>
        </div>
    </div>
</div>


