<% content_for(:html_title) { 'タスク' } %>
    <div class="row all-color"> 
        <div class="letter">
            <div class="all-position">
                <div class="row">
                    <div class="col-md-5">
                    <div class="left-page-position">
                        <%= render 'status' %>
                        <div class="charactor-position" >
                            <%= render 'hukidasi2' %>
                            <%= render "sorcery" %>
                            <%= image_tag "task_boy.png", :size =>'200x260', class: "boy" %>
                        </div>
                    </div>
                    </div>

                    <div class="col-md-7">
                        <div class="light-page">
                            <div class="light_page_top">
                                <%= render 'long_question', user: @user%>
                                <%= render 'firsts_question'%>
                                <%= render 'second_question'%>
                                <%= render 'third_question' %>
                                <%= render 'recovery_question', recovery_question: @recovery_question, recovery_answers: @recovery_answers %>
                            </div>
                        </div>
                    </div>

                    <%= render "modal" %>
                </div>
            </div>
        </div>
    </div>


