<div id="lesson_question">

    <%= render 'users/hukidasi' %>
    <%= render 'users/life_bar' %>
    <%= render 'users/boy' %>

    <div class="swiper-container-example">
        <div class="swiper-wrapper">
            <div class="slide"><%= image_tag 'ofise4.jpeg'%></div>
            <div class="slide"><%= image_tag 'ofise4.jpeg'%></div>
        </div>
    </div>

    <% @lesson_question.each do |lesson_question| %>
        <% unless lesson_question.id == 1 %>
            <div class="<%= lesson_question.id %> mt-3" style="display:none;">
        <% else %>
            <div class="<%= lesson_question.id %>" mt-3">
        <% end %>
        <div class="question-field">
        <div style="margin: 10px;" class="text-style">Q<%= lesson_question.id %>/10 <%= lesson_question.question %></div>
            <%= form_with model: @total, method: :post, remote: true do %>
                <% lesson_question.lesson_answers.each do |lesson_answer| %>
                    <% if lesson_question.id == lesson_answer.lesson_question_id %>
                      <div style="margin-top: 3px;">
                        <button class="send_data_example btn-example" style="padding:3px; margin:5px; height: 50px;" href="<%= lesson_answer.lesson_question_id.to_i %>" type="submit" data-send-id = <%= lesson_answer.score %> ><%= lesson_answer.answer %></button>
                      </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        </div>
    <% end %>

    <%= render 'example_result' %>

</div>
