<% content_for(:html_title) { 'お問い合わせ' } %>
<div class="container">
<div class="row d-flex align-items-center justify-content-center">
<div class="col-md-7 ">

<div class="login-title inquiry-padding">
    <div class="text-center title-position">
        <h3>お問い合わせフォーム</h3>
    </div>
        <%= form_with model: @inquiry, local: true do |f| %>
            <div class="form-group">
                <%= f.label :category, t('inquiries.new.category'), class: "form-label"%>
                <span class="badge badge-danger">必須</span>
                <%= f.select :category, Inquiry.categories.keys.map {|k| [I18n.t("enums.inquiry.category.#{k}"), k]}, { include_blank: '選択してください'}, class: "form-control"%>
            </div>
            <div class="form-group">
                <%= f.label :name, t('inquiries.new.name'), class: "form-label" %>
                <span class="badge badge-warning">任意</span>
                <%= f.text_field :name, class: "form-control"  %>
            </div>
            <div class="form-group">
                <%= f.label :email, t('inquiries.new.email'), class: "form-label" %>
                <span class="badge badge-warning">任意</span>
                <%= f.email_field :email, class: "form-control"  %>
            </div>
            <div class="form-group">
                <%= f.label :message, t('inquiries.new.message'), class: "form-label" %>
                <span class="badge badge-danger">必須</span>
                <%= f.text_area :message, size: "20x10", class: "form-control"%>
            </div>
            <%= f.submit t('inquiries.new.send_mail'), class: "btn btn-info" %>
        <% end %>
</div>

</div>
</div>
</div>