<% content_for(:html_title) { 'お問い合わせ' } %>
<section class="hero2">
<div class="container">
<div class="row ">
<div class="col-lg-12 col-md-12 col-sm-12 ">

<div class="inquiry-title text-family2 mx-auto mt-1">
    <div class="text-center title-position mb-5">
        <h3>お問い合わせフォーム</h3>
    </div>
        <%= form_with model: @inquiry, local: true do |f| %>
            <div class="form-group">
                <%= f.label :category, t('inquiries.new.category'), class: "form-label"%>
                <span class="badge badge-danger">必須</span>
                <%= f.select :category, Inquiry.categories.keys.map {|k| [I18n.t("enums.inquiry.category.#{k}"), k]}, { include_blank: false}, class: "form-control"%>
            </div>
            <div class="form-group">
                <%= f.label :name, t('inquiries.new.name'), class: "form-label" %>
                <span class="badge badge-warning">任意</span>
                <%= f.text_field :name, class: "form-control"  %>
            </div>
            <div class="form-group">
                <%= f.label :message, t('inquiries.new.message'), class: "form-label" %>
                <span class="badge badge-danger">必須</span>
                <%= f.text_area :message, size: "20x10", class: "form-control"%>
            </div>
            <div class="login-button text-center">
                <%= f.submit t('inquiries.new.send_mail'), class: "btn btn--orange btn--cubic btn--shadow w-25" %>
            </div>
        <% end %>
</div>

</div>
</div>
</div>
</section>