<!DOCTYPE html>
<html>
  <head>
    <title>MentalhealthManagementTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shard/header' %>
    <%= yield %>
    <%= render 'shard/footer' %>
  </body>
</html>
