<!DOCTYPE html>
<html>
  <head>
  <title><%= content_for?(:html_title) ? yield(:html_title) : "" %>｜ BUKA MENTAL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="http://localhost:3000/" />
    <meta property="og:site_name" content="Buka Mental" />
    <meta property="og:description" content="Buka Mentalはメンタルヘルスマネジメントを学ぶきっかけを作るサイトです。部下を労わり自分をストレスから守る人材を目指しましょう。" />
    <meta property="og:image" content="https://i.gyazo.com/46dcf480fb1e805e0163eb2aaea8ec68.png" />
  </head>
  <body style="background-color: #f9fbfe;">
  <header class="sticky-top">
    <%= render 'shared/header' %>
  </header>
      <%= yield %>
      <%= render 'shared/flash_message' %>
  <footer class="footer">
    <%= render 'shared/footer' %>
  </footer>
  </div>
  </body>
</html>
